@model Timipro.Models.Cliente

@{
    ViewBag.Title = "Criar novo";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Ativo)
                    @Html.ValidationMessageFor(model => model.Ativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span class="field-validation-valid text-danger" id="errorMessage"></span><br />
                <input type="submit" value="Criar novo" id="btnCreate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ver lista", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript">


        $(document).ready(function () {


            let isDuplicate = false;

            $("#CPF").on('change', function () {
                let cpf = $("#CPF").val();
                let btnCreate = document.querySelector("#btnCreate");

                $.ajax({
                    url: 'VerifyCPF/' + cpf,
                    type: 'GET',
                    success: function (response) {
                         isDuplicate = (response === "True");
                        if (isDuplicate === true) {
                            $("#errorMessage").text('Duplicated CPF');
                            btnCreate.disabled = true;
                        } else {
                            $("#errorMessage").text('');
                            btnCreate.disabled = false;
                        }

                    },

                });

            });



            $("#Email").on('change', function () {
                let email = $("#Email").val();
                let btnCreate = document.querySelector("#btnCreate");

                $.ajax({
                    url: 'VerifyEmail?id=' + email,
                    type: 'GET',
                    success: function (response) {
                         isDuplicate = (response === "True");
                        if (isDuplicate === true) {
                            $("#errorMessage").text('Duplicated email');
                            btnCreate.disabled = true;
                        } else {
                            $("#errorMessage").text('');
                            btnCreate.disabled = false;
                        }


                    },

                });

            });



        });
    </script>
}
