@model Timipro.Models.Cliente

@{
    ViewBag.Title = "Detalhes do cliente";
}

 

<div>
    <br />
    <h4>Dados do Cliente</h4>
    <hr />

    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.Nome) : @Html.DisplayFor(model => model.Nome)

        </legend>
       
    </fieldset>
 
    
    
    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.CPF) : @Html.DisplayFor(model => model.CPF)

        </legend>
       
    </fieldset>
  
    
    
    
    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.Email) : @Html.DisplayFor(model => model.Email)

        </legend>
       
    </fieldset>
 
    
    
    
    <fieldset>
        <legend>
            @Html.DisplayNameFor(model => model.Ativo) : @Html.DisplayFor(model => model.Ativo)

        </legend>
       
    </fieldset>
  
   
</div>
<p>
    @Html.ActionLink("Ver lista", "Index") |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Eliminar", "Delete", new { id = Model.Id })
</p>
