@model IEnumerable<Timipro.Models.Imovel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoNegocio)
        </th>
        
        <th>
            @Html.DisplayName("Cliente atribuído")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoNegocio.Tipo)
        </td>
        
        <td>
            @{
                var email = item.Cliente.Email;
                if (email == "clienteinicial@timiproimovel.com")
                {

                    <label>Sem cliente atribuído</label>
                }
                else
                {

                    @Html.DisplayFor(modelItem => item.Cliente.Email)
                }
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
